################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Capstone-master/Capstone/appsettings.json
/Capstone-master/DataAPI/appsettings.json
/Capstone-master/Capstone/appsetting.json
/Capstone-master/Capstone/appsettings.Development.json
/.vs/F24-Scrum-Reporting/v17/.wsuo
/.vs/F24-Scrum-Reporting/v17/DocumentLayout.json
