@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Home Page</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/studenthome.css")">
</head>
<body>
    <div class="wrapper">
        <header class="headerbg">
            <img src="~/images/TempleLogo.svg" alt="Company Logo" class="logo" />
        </header>

        <section class="middle-container">

            <button class="hamburger" onclick="toggleNav()">&#9776;</button>

            <nav class="sidenav">
                <a asp-controller="Student" asp-action="Dashboard">Dashboard</a> @* Student Home Page *@
                <a asp-controller="Student" asp-action="Scrums">Scrums</a> @* Student Report Management Page *@
                <a asp-controller="Login" asp-action="Login">Logout</a>

            </nav>


            <div class="content-container">
                <h1>Welcome Back @ViewBag.Full_Name, @ViewBag.TU_ID, @ViewBag.User_Type!</h1>
                <h2>SCRUM Reporting</h2>
                <h3>
                    Streamlining SCRUM reporting
                    for Temple University students and professors.
                </h3>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                &copy; 2024 Temple SCRUM. All rights reserved.
            </div>
        </footer>


    </div>
    <script>
        function toggleNav() {
            var sidenav = document.querySelector(".sidenav");
            sidenav.classList.toggle("open");
        }
    </script>
</body>
</html>



