/* ScrumReport.css */

* {
    margin: 0;
    padding: 0;
}


html, body {
    font-family: 'Sitka Heading', sans-serif;
}


/* Style for the hamburger icon */
.hamburger-menu {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: #A41E35;
    margin: 5px;
    width: 10%;
    align-self: center;
}


.sidenav {
    width: 300px;
    height: 200px;
    background: linear-gradient(135deg, #D9D9D9 0%, #B0B0B0 100%);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #A0A0A0;
}

    .sidenav a {
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;
        background-color: #FFFF;
        padding: 10px;
        text-decoration: none;
        font-size: 22px;
        border-radius: 15px;
        transition: background-color 0.3s, border-radius 0.3s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }


        .sidenav a:hover {
            color: white;
            background-color: #A41E35;
            border-radius: 10px;
            font-weight: bold;
        }



.content-container {
    padding: 10px;
    display: flex;
    gap: 10px;
}


.content-tittle {
    margin-top: 10px;
}

.table-container {
    width: 80%;
    height: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #D8D8D8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;

}

    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form-group textarea, .form-group input {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
    }

.form-buttons {
    margin-top: 20px;
    gap: 50px;
    display: flex;
    justify-content: center;

}

    .form-buttons .btn {
        width: 100px;
        height: 50px;
        border-radius: 10px;
        color: white;
        background: #BF6070;
    }
        .form-buttons .btn:hover {
            background: #A41C34;
        }

.info-group{
    display: flex;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}


.info-container {

}

h1 {
    text-align: center;
    color: #C8102E; /* Temple University Red */
}

h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #C8102E; /* Temple University Red */
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #C8102E; /* Temple University Red */
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }







/* All Responsive Design ****************************************************************/
/* Feel free to add to this but ultimately this is the layout*/
@media (max-width: 580px) {


    * {
        margin: 0;
        padding: 0;
    }
    /*All views aka NAV BAR responsive************************************/

    /* Stack layout for smaller screens */
    .content-container {
        flex-direction: column;
        text-align-last: center;
        gap: 10px;
    }

    .hamburger-menu {
        display: block;
    }

    .sidenav {
        display: none;
        background: white;
        transition: 0.3s;
        align-self: center;
        height: 250px;
        border-radius: 0px;
        border: none;
        box-shadow: none;
        width: 200px;
    }

        .sidenav a {
            padding: 5px;
            display: block;
            font-size: 20px;
            background: white;
            border-bottom: #C8102E solid 3px;
            border-radius: 0px;
            box-shadow: none;
            width: 200px;
        }

        .sidenav.active {
            display: flex;
        }


        /*Scrums Page Repsonsive*/



}

