* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100vh; 
    font-family: 'Sitka Heading', sans-serif;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
}

body {
    border-radius: 0;
}



