@*
*@
@{
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <img src="~/images/logo.png" alt="Temple Scrum Logo" class="logo">
            </div>
        </nav>
    </header>

    <div class="login-box">
        <h2>Login</h2>
        <form asp-action="Login" method="post">
            <label for="ddlUserType">User Type</label><br />
            <select class="dropdown" id="ddlUserType" name="UserType">
                <option value="Professor">Professor</option>
                <option value="Student">Student</option>
            </select>
            <div class="login-btn">
                <button type="submit" value="Login" name="btnSubmit" style="font-size: 18px;">Log In</button>
            </div>
            <div class="login-btn">
                <button type="submit" name="btnSSO" style="font-size: 18px;">Secure Login</button>
            </div>
            @*<div class="register-link">
            <span>New Student?</span> <a asp-controller="Home" asp-action="Register">Register</a>
            </div>*@
            <label id="lblError"></label>
        </form>
    </div>
</body>
</html>
