@*
*@
@{
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="~/css/register.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <img src="~/images/logo.png" alt="Temple Scrum Logo" class="logo">
            </div>
        </nav>
    </header>

    <div class="login-box">
        <h2>Register</h2>
        <form method="post">
            <div class="textbox">
                <label for="email">Full Name</label>
                <input type="text" id="name" name="name" />
            </div>
            <div class="textbox">
                <label for="email">Username</label>
                <input type="text" id="username" name="username" />
            </div>
            <div class="textbox">
                <label for="email">TU Email</label>
                <input type="text" id="email" name="email" />
            </div>
            <div class="textbox">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="button-container">
                <div class="cancel-btn">
                    <button asp-controller="Home" asp-action="Login" class="cancel" type="submit" name="btnCancel" style="font-size: 18px;">Cancel</button>
                </div>
                <div class="login-btn">
                    <button class="register" type="submit" name="btnSubmit" style="font-size: 18px;">Register</button>
                </div>
            </div>
            <label id="lblError"></label>
        </form>
    </div>
</body>
</html>
