<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Capstone</title>
    <link rel="stylesheet" href="~/css/temple-scrum-header.css">

</head>
<body>
    <header>
        <div class="header-container">
            <img src="~/images/TempleLogo.svg" alt="T Logo" class="T-logo"/>
            <img src="~/images/logo.png" alt="Temple Scrum Logo" class="TScrum-logo">
        </div>
    </header>


    <main role="main">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
